html {
    --font-color1:black;
    --font-color2:#6b001c;
    --font-color-header-hover:#6b001c;
    --font-header-color: white;
    --font-aside-color: #5a2100;
    --background-html: #f4f1db;
    --background-header: #6b001c;
    --header-menu-background: #d0cdbb;
    --background-aside-left: #fffbe0;
    --background-main: white;
    --background-aside-right: white;
    --background-footer: #d0cdbb;
    --background-header-image: url('/header/background_logo_ru.png')center no-repeat;

    --font-size: auto;
    --font-size10: 10.5px;
    --font-size10m: 12px;
    --font-size20: 20px;

    --letter-spasing: normal; 

    --font: 13px/1.5 'Helvetica Neue', Arial, sans-serif;

    --maxwidth: 1024px;
    --header_aside_width: 235px;
    --main_aside_width: 235px;

    --icon-vk-bg: #4489c8;
    --icon-vk-color: #fff;
    --icon-rutube-bg: #000;

}

html[data-theme="white"] {
    --font-color1:black;
    --font-color2:black;
    --font-color-header-hover:white;
    --font-header-color: black;
    --font-aside-color: black;
    --background-html: white;
    --background-header: white;
    --header-menu-background: black;
    --background-aside-left: white;
    --background-main: white;
    --background-aside-right: white;
    --background-footer: white;
    --background-header-image:white;

    --icon-vk-bg: #000;
    --icon-vk-color: #fff;
    --icon-rutube-bg: #000;
}



html[data-theme="black"] {
    --font-color1:white;
    --font-color2:white;
    --font-color-header-hover:black;
    --font-header-color: white;
    --font-aside-color: white;
    --background-html: black;
    --background-header: black;
    --header-menu-background: white;
    --background-aside-left: black;
    --background-main: black;
    --background-aside-right: black;
    --background-footer: black;
    --background-header-image:black;

    --icon-vk-bg: #fff;
    --icon-vk-color: #000;
    --icon-rutube-bg: #fff;
}

html[data-theme="blue"] {
    --font-color1:rgb(6,52,98);
    --font-color2:rgb(6,52,98);
    --font-color-header-hover:rgb(157,209,255);
    --font-header-color: rgb(6,52,98);
    --font-aside-color: rgb(6,52,98);
    --background-html: rgb(157,209,255);
    --background-header: rgb(157,209,255);
    --header-menu-background: rgb(6,52,98);
    --background-aside-left: rgb(157,209,255);
    --background-main: rgb(157,209,255);
    --background-aside-right: rgb(157,209,255);
    --background-footer: rgb(157,209,255);
    --background-header-image:rgb(157,209,255);

    --icon-vk-bg: rgb(6,52,98);
    --icon-vk-color: rgb(157,209,255);
    --icon-rutube-bg: rgb(6,52,98);
}

html[data-theme="sand"] {
    --font-color1:rgb(77,75,67);
    --font-color2:rgb(77,75,67);
    --font-color-header-hover:rgb(247,243,214);
    --font-header-color: rgb(77,75,67);
    --font-aside-color: rgb(77,75,67);
    --background-html: rgb(247,243,214);
    --background-header: rgb(247,243,214);
    --header-menu-background: rgb(77,75,67);
    --background-aside-left: rgb(247,243,214);
    --background-main: rgb(247,243,214);
    --background-aside-right: rgb(247,243,214);
    --background-footer: rgb(247,243,214);
    --background-header-image:rgb(247,243,214);
    
    --icon-vk-bg: rgb(77,75,67);
    --icon-vk-color: rgb(247,243,214);
    --icon-rutube-bg: rgb(77,75,67);
    
}

html[data-theme="green"] {
    --font-color1:rgb(169, 228, 77);
    --font-color2:rgb(169, 228, 77);
    --font-color-header-hover:rgb(59, 39, 22);
    --font-header-color: rgb(169,228,77);
    --font-aside-color: rgb(169,228,77);
    --background-html: rgb(59, 39, 22);
    --background-header: rgb(59, 39, 22);
    --header-menu-background: rgb(169,228,77);
    --background-aside-left: rgb(59, 39, 22);
    --background-main: rgb(59, 39, 22);
    --background-aside-right: rgb(59, 39, 22);
    --background-footer: rgb(59, 39, 22);
    --background-header-image:rgb(59, 39, 22);

    --icon-vk-bg: rgb(169, 228, 77);
    --icon-vk-color: rgb(59, 39, 22);
    --icon-rutube-bg:rgb(169, 228, 77);
}


html[data-font_size="18px"] {
    --font-size: 18px;
    --font-size10: 18px;
    --font-size20: 18px;
}
html[data-font_size="24px"] {
    --font-size: 24px;
    --font-size10: 18px;
    --font-size20: 24px;
}
html[data-font_size="30px"] {
    --font-size: 30px;
    --font-size10: 18px;
    --font-size20: 30px;
}



html[data-letter_spasing="1px"] {
    --letter-spasing: 1px;
}
html[data-letter_spasing="3px"] {
    --letter-spasing: 3px;
}
html[data-letter_spasing="5px"] {
    --letter-spasing: 5px;
}



html, body {
    margin: 0;
    padding: 0;
    --transition-bg-time: .5s;
    --transition-color-time: .2s;
    --transition-font-size-time: .1s;
    --transition-letter-spasing-time: .1s;
}

body {
    background: var(--background-html);
    color: var(--font-color2);

    font-size: var(--font-size);

    letter-spacing: var(--letter-spasing);

    transition: background var(--transition-bg-time), color var(--transition-color-time), font-size var(--transition-font-size-time), letter-spacing var(--transition-letter-spasing-time);

    display: none;
}
.max_width {
    max-width: var(--maxwidth);
    margin: 0 auto;
}
.flex_row {
    display: flex;
}