.sw_menu {
    background: rgb(167, 165, 174);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .btn_block {
        margin: 2px 5px;
        button {
            text-align: center;
            margin: 3px;
            border-radius: 3px;
            border: 1px solid black;
        }
    }
}