.calend_block {
	margin: 30px 0;
	// width: calc(100% - 20px);
	width: 100%;
	// padding: 0 10px;
	// display: inline-block;
	display: flex;

	.arrow_left,
	.arrow_right {
		width: 20px;
		height: 100px;
		background-color: red;
		display: inherit;
		align-self: center;
	}
	
	.calendar_contain {
		overflow: auto;
		display: inherit;
		// padding: 0 10px;
		width: calc(100% - 40px);
		
		table {
			border-collapse: collapse;
			width: 100%;


			td {
				border: 1px solid var(--font-aside-color);
			}

		}
	}
}