.calend_block {
	margin: 30px 0;
	// width: calc(100% - 20px);
	width: 100%;
	// padding: 0 10px;
	// display: inline-block;
	display: flex;
	font-size: 16px;
	letter-spacing: 0;

	.arrow_left,
	.arrow_right {
		width: 20px;
		// height: 100px;
		background-color: transparent;
		display: inherit;
		align-self: center;
		cursor: pointer;
		border: none;
		// border-radius: 100% 0 0 0;
		padding: 12px 0;
	}

	.arrow_left {
		// 	width        : 0;
		// 	height       : 0;
		// 	border-top   : 20px solid transparent;
		// 	border-bottom: 20px solid transparent;
		// 	border-right : 20px solid var(--font-aside-color);
		// text-align: left;

		color: var(--font-aside-color);
		justify-content: center;
	}

	.arrow_right {
		// 	padding      : 0;
		// 	width        : 0;
		// 	height       : 0;
		// 	border-top   : 20px solid transparent;
		// 	border-bottom: 20px solid transparent;
		// 	border-left : 20px solid var(--font-aside-color);

		color: var(--font-aside-color);
		justify-content: center;
		// text-align: right;
	}

	.calendar_contain {
		overflow: auto;
		display: inherit;
		// padding: 0 10px;
		width: calc(100% - 40px);

		table {
			border-collapse: collapse;
			width: 100%;


			td,
			caption {
				border: 1px solid var(--font-aside-color);
			}

			caption {
				border-bottom: none;
			}


		}
	}
}