.calend_block {
	margin: 30px 0;
	width: calc(100% - 20px);
	padding: 0 10px;
	display: inline-block;

	.arrow_left,
	.arrow_right {
		width: 10px;
		height: 100%;
		background-color: red;
	}

	.calendar_contain {
		// padding: 0 10px;

		table {
			width: calc(100% - 20px);
			border-collapse: collapse;


			td {
				border: 1px solid var(--font-aside-color);
			}

		}
	}
}