.left_banner_block {
    width: 100%;
    text-decoration: none;
    .textUp {
        padding: 0 2%;
        margin-bottom: 0;
    }
    img {
        width: 203px;
        height: auto;
    }
    .textDown {
        margin-top: 0;
    }
}