.layout {


    .main {


        text-align: center;

        background: var(--background-main);

        aside {

            width: var(--main_aside_width);

            &.left {
                background-color: var(--background-aside-left);
            }

            &.right {
                background-color: var(--background-aside-right);
            }
        }

        main {
            width: calc(var(--maxwidth) - var(--main_aside_width) * 2);
            display: flex;
            justify-content: center;
        }

        @media (max-width: 1000px) {
            .right {
                display: none;
            }

            main {

                width: calc(100vw - var(--main_aside_width));

            }

        }

        @media (max-width: 600px) {
            .left {
                display: none;
            }

            main {

                width: 100vw;

            }

        }
    }

    footer {

        background-color: var(--background-footer);
        text-align: center;
    }

}