.wrapper{
    font-size: 20px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    color: #000;

    .image  {
        img{
        float: left;
        width: 250px;
        height: 359px;
        margin: 0 10px;
        }
    }
    .container{
        font-size: 20px;
        margin: 10px 0 10px 0;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 #e0dcd0;
        flex: 1;
        span{
            color: #6b001c;
            margin: 10px;
        }
        .content{
        padding: 0 10px;
        }
    }
}